html,
body {
    margin: 0;
}

#game_background {
    background-image: url(svg/spillebaggrund.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}


#catronaut {
    background-image: url(svg/catronatglad.svg);
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    width: 15vw;
    height: 40vh;
    top: 26vw;
    left: 83vw;
    z-index: 1;

}

#liv {
    background-image: url(svg/liv.svg);
    background-size: 50%;
    position: absolute;
    background-repeat: no-repeat;
    width: 12vw;
    height: 90vh;
    left: 0;
    top: 0;
    z-index: 1;

}

#point {
    background-image: url(svg/point.svg);
    background-size: 50%;
    position: absolute;
    background-repeat: no-repeat;
    width: 12vw;
    height: 90vh;
    left: 0;
    top: 17vw;
}

#timer {
    background-image: url(svg/timer.svg);
    background-size: 50%;
    position: absolute;
    background-repeat: no-repeat;
    width: 12vw;
    height: 90vh;
    left: 0;
    top: 23.4vw;
}


#settings1 {
    background-image: url(svg/settings.svg);
    background-size: 50%;
    position: absolute;
    background-repeat: no-repeat;
    width: 12vw;
    height: 10vh;
    left: 0;
    top: 45vw;
}


#komet {
    background-image: url(svg/komet.svg);
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 35vw;
    left: 55vw;
    top: 25vw;
}

#komet1 {
    background-image: url(svg/komet.svg);
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 32vw;
    left: 20vw;
    top: 10vw;
}

#komet2 {
    background-image: url(svg/komet.svg);
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    width: 20vw;
    height: 30vw;
    left: 50vw;
    top: 1vw;
}

#komet4 {
    background-image: url(svg/komet.svg);
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    width: 20vw;
    height: 30vw;
    left: 5vw;
    top: 1vw;
}

#komet5 {
    background-image: url(svg/komet.svg);
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    width: 20vw;
    height: 30vw;
    left: 80vw;
    top: 1vw;
}

#komet6 {
    background-image: url(svg/komet.svg);
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    width: 25vw;
    height: 32vw;
    left: 30vw;
    top: 30vw;
}

#start {
    background-image: url(svg/play.svg);
    display: none;
}

#settings {
    background-image: url(svg/settings_1.svg);
    display: none;
}

#gameover {
    background-image: url(svg/gameover2.svg);
    display: none;
}

#levelcomplete {
    background-image: url(svg/levelcomplete.svg);
    display: none;
}
